<!DOCTYPE html>
<html>
<head>
	<title>Admin Page</title>

</head>
<body>
	<div>
		<h1>Welcome Home! Admin</h1> 		
	</div>


    <a href="/Admin/AddEmployee">Add_Employee</a> |
	<a href="/Admin/AllEmployee"> All Employee List</a> 
	


</body>
</html>