<!DOCTYPE html>
<html>
<head>
	<title>Employee Page</title>

</head>
<body>
	<div>
		<h1>Welcome Home!Employee</h1> 		
	</div>


    <a href="/Employee/MyProfile">My Profile</a> |
	<a href="/Employee/UpdateProfile">Updated Profile</a> 
	


</body>
</html>